<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Contact Us - The Bideo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'bideosite/contact.css' %}" />
    <link rel="shortcut icon" href="{% static 'bideosite/favicon.ico' %}">
    <script src="{% static 'bideosite/main.js' %}"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<header class="row">
    <div id="navbar" class="navbar col-xs-12 col-sm-12">
        <a class="logo" href="/">
            <img src="{% static 'bideosite/bideo-logo.png' %}" alt="The Bideo" />
        </a>
        <a href="javascript:void(0);" class="icon" onclick="hamburgerToggle()">
            <img src="{% static 'bideosite/hamburger-1.png' %}" alt="Menu" />
        </a>
        <a href="../podcast"><p>Podcast</p></a>
        <a href="../reviews"><p>Videos</p></a>
        <a href="#library"><p></p></a>
        <a href="../contact"><p>Contact Us!</p></a>
    </div>
</header>
<body>
    <div class="form-container col-sm-12 col-lg-12">
        <h1>Leave us a comment!</h1>
        <form action="/contact/" method="POST" target="_self">
            {% csrf_token %}
            <table>
                {{ form }}
            </table>
            <div class="g-recaptcha" data-sitekey="6LfT63QUAAAAAGjZh7yGdoU4jIeccClWjxkCTXvq"></div>
            <input id="submit" type="submit" value="Submit">
        </form>
    </div>
    <h2>{{ message }}</h2>
</body>

</html>