<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Contact Us - The Bideo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'bideosite/contact.css' %}" />
    <link rel="shortcut icon" href="{% static 'bideosite/favicon.ico' %}">
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<style>
    html {
        background-color: whitesmoke;
    }
</style>

<body>
    <div class="form-container">
        <a href="..">Home</a>
        <h1>Leave us a comment!</h1>

        <form action="/contact/" method="POST" target="_self">
            {% csrf_token %}
            {{ form }}
            <div class="g-recaptcha" data-sitekey="6LfT63QUAAAAAGjZh7yGdoU4jIeccClWjxkCTXvq"></div>
            <input id="submit" type="submit" value="Submit">
        </form>
    </div>
    <h2>{{ message }}</h2>
</body>

</html>