<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Bideo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'bideosite/main.css' %}" />
    <link rel="shortcut icon" href="{% static 'bideosite/favicon.ico' %}">
    <script src="{% static 'bideosite/main.js' %}"></script>
    <script async src="https://platform.twitter.com/widgets.js"></script>
</head>

<header class="row">
    <div id="navbar" class="navbar col-xs-12 col-sm-12">
        <a class="logo" href="/">
            <img src="{% static 'bideosite/bideo-logo.png' %}" alt="The Bideo" />
        </a>
        <a href="javascript:void(0);" class="icon" onclick="hamburgerToggle()">
            <img src="{% static 'bideosite/hamburger-1.png' %}" alt="Menu" />
        </a>
        <a href="podcast"><p>Podcast</p></a>
        <a href="reviews"><p>Videos</p></a>
        <a href="#library"><p></p></a>
        <a href="contact"><p>Contact Us!</p></a>
    </div>
</header>
{% for pod in podcast %}
<div class="jumbotron row">
    <div class="col-xs-12 col-sm-4 col-md-4">
        <img class="episode-panel" src="{{ pod.img_url }}" alt="Them Bideo Boys" />
    </div>
    <div class="col-xs-12 col-sm-8 col-md-4">
        <div class="jumbotron-info">
            <h4>{{ pod.pub_date }}</h4>
            <h1>{{ pod.episode_title }}</h1>
            <p>{{ pod.episode_desc }}</p>
            <audio id="mainsound" controls>
                <source src="{{ pod.file_url }}" type="audio/mp3">
                Your browser does not support the <code>audio</code> element.
            </audio>
        </div>
    </div>
    <div class="twitter col-md-4">
        <a class="twitter-timeline" data-height="100%" data-chrome="noheader nofooter transparent"
        href="https://twitter.com/TheBideo">
            Tweets by @TheBideo
        </a>
    </div>
</div>
{% endfor %}
<body>
    <div class="row twitch_banner">
    </div>
    {% for tube in youtubes %}
    <div class="row reviews">
        <div class="content col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h3>The newest from {{ tube.channel }}!</h3>
            <div class="video-container">
                <iframe id="youtube" src="{{ tube.video_url }}" width="560" height="315"
                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
        <div class="content col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h3>Hi Everyone!</h3>
            <p>Thanks for stopping by! Thanks for joining us in our podcasting adventure!</p><br>
            <h4>{{ tube.video_title }}</h4><br>
            <p>{{ tube.pub_date }}</p><br>
            <p>{{ tube.video_description }}</p>
        </div>
    </div>
    {% endfor %}
</body>
<footer class="row col-lg-12">
    <p>Brought to you by some sick nerdz!</p>
</footer>

</html>