<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Podcasts - The Bideo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'bideosite/podcast.css' %}" />
    <link rel="shortcut icon" href="{% static 'bideosite/favicon.ico' %}">
    <script src="{% static 'bideosite/main.js' %}"></script>
</head>

<header class="row">
    <div id="navbar" class="navbar col-xs-12 col-sm-12">
        <a class="logo" href="/">
            <img src="{% static 'bideosite/bideo-logo.png' %}" alt="The Bideo" />
        </a>
        <a href="javascript:void(0);" class="icon" onclick="hamburgerToggle()">
            <img src="{% static 'bideosite/hamburger-1.png' %}" alt="Menu" />
        </a>
        <a href=""><p>Podcast</p></a>
        <a href="../reviews"><p>Reviews</p></a>
        <a href="#library"><p>Library</p></a>
        <a href="../contact"><p>Contact Us!</p></a>
    </div>
</header>
<div class="jumbo-container">
{% for pod in podcast %}
    <div class="jumbotron row">
        <div class="col-xs-12 col-sm-4 col-md-4">
            <img class="episode-panel" src="{{ pod.img_url }}" alt="Them Bideo Boys" />
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8">
            <div class="jumbotron-info">
                <h4>{{ pod.pub_date }}</h4>
                <h1>{{ pod.episode_title }}</h1>
                <p>{{ pod.episode_desc }}</p>
                <audio id="mainsound" controls>
                    <source src="{{ pod.file_url }}" type="audio/mp3">
                    Your browser does not support the <code>audio</code> element.
                </audio>
            </div>
        </div>
    </div>
{% endfor %}
</div>
<body>

</body>
</html>