<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Reviews! - The Bideo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'bideosite/podcast.css' %}" />
    <link rel="shortcut icon" href="{% static 'bideosite/favicon.ico' %}">
    <script src="{% static 'bideosite/main.js' %}"></script>
</head>

<header class="row">
    <div id="navbar" class="navbar col-xs-12 col-sm-12">
        <a class="logo" href="/">
            <img src="{% static 'bideosite/bideo-logo.png' %}" alt="The Bideo" />
        </a>
        <a href="javascript:void(0);" class="icon" onclick="hamburgerToggle()">
            <img src="{% static 'bideosite/hamburger-1.png' %}" alt="Menu" />
        </a>
        <a href="../podcast"><p>Podcast</p></a>
        <a href=""><p>Reviews</p></a>
        <a href="#library"><p>Library</p></a>
        <a href="../contact"><p>Contact Us!</p></a>
    </div>
</header>
<div class="jumbo-container">
{% for tube in youtubes %}
    <div class="jumbotron row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="video-container">
                <iframe id="youtube" src="{{ tube.video_url }}" width="560" height="315"
                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="jumbotron-info">
                <h4>{{ tube.pub_date }}</h4>
                <h1>{{ tube.video_title }}</h1>
                <p>{{ tube.video_description }}</p>
            </div>
        </div>
    </div>
{% endfor %}
</div>
<body>

</body>
</html>