@import 'globals';

@import 'gridtemplate';
@import 'navbar';
@import 'jumbotron';

.form-container {
    width: 100%;
    margin: $navMaxHeight+1 0rem;
}

form {
    border: black solid 1px;
    margin: 2rem;
    tr {
        input {
            width: 90%;
            height: 2rem;
            margin: 1rem;
        }
    }
}

.g-recaptcha {
    margin: 1rem;
}

#submit {
    height: 2rem;
    margin: 1rem;
    padding: 0px;
    vertical-align: middle;
    width: 5rem;
}